.bicon {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 1em 0em;
}
.bicon .list {
  width: 20%;
}
.bicon .list img {
  padding: 0.5em 0.5em;
}
.topic {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 1.5em 0em;
  padding: 1em 0em;
  box-shadow: 5px 0px 5px #b6b6b6;
}
.topic .left {
  width: 20%;
}
.topic .left h2 {
  color: #fbaf95;
  font-family: SHSC;
}
.topic .right {
  width: 69%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.topic .right .info {
  width: auto;
  height: 1.8em;
  line-height: 1.8em;
  border: 1px solid #ff6b8f;
  color: #b6b6b6;
  border-radius: 10px;
  padding: 0em 1em;
  font-size: 0.8em;
}
.topic .right .info:hover {
  color: #fff;
  background: #ff6c93;
  border: 0px;
}
.blog .top {
  display: flex;
  justify-content: end;
  width: 100%;
  padding: 0em 1em;
}
.blog .top .left {
  width: 15%;
  margin-right: 1em;
}
.blog .top .right {
  display: inline-block;
}
.blog .explain {
  padding: 0em 1em;
}
.blog .explain p {
  color: #5a5a5a;
  font-family: SHSC;
  font-size: 1.2em;
}
.blog .explain p span {
  color: #fda68a;
}
.blog .btm .col {
  display: flex;
  justify-content: end;
  width: 100%;
  flex-wrap: wrap;
  padding: 1em 1em;
}
.blog .btm .col img {
  width: 33.3%;
  padding: 0.2em 0.2em;
}
